{% extends "layout_dashboard.html" %} {% block dashboard_content %}
<!--Home page-->
<!-- Main title-->
<div class="main-title">
  <p class="font-weight-bold">HOME</p>
</div>

<!-- Main cards-->
<div class="main-cards">
  <!-- EACH CARD-->
  <div class="card">
    <div class="card-inner">
      <p class="text-primary">DATABASE</p>
      <span class="material-icons-outlined text-blue"> inventory </span>
    </div>

    <span class="text-primary font-weight-bold">{{db_count}}</span>
  </div>

  <!-- EACH CARD-->
  <div class="card">
    <div class="card-inner">
      <p class="text-primary">API CALLS</p>
      <span class="material-icons-outlined text-orange"> api </span>
    </div>

    <span class="text-primary font-weight-bold">{{api_count}}</span>
  </div>

  <!-- EACH CARD-->
  <div class="card">
    <div class="card-inner">
      <p class="text-primary">USER ACCOUNTS</p>
      <span class="material-icons-outlined text-green"> people </span>
    </div>

    <span class="text-primary font-weight-bold">{{user_count}}</span>
  </div>

  <!-- EACH CARD-->
  <div class="card">
    <div class="card-inner">
      <p class="text-primary">ALERTS</p>
      <span class="material-icons-outlined text-red"> warning </span>
    </div>

    <span class="text-primary font-weight-bold">{{alerts}}</span>
  </div>
</div>

<!-- Section with Charts -->
<div class="charts">
  <div class="charts-card">
    <p class="chart-title">API usage</p>
    <div id="bar-chart"></div>
  </div>

  <div class="charts-card">
    <p class="chart-title">Server Status</p>
    <div id="pie-chart"></div>
  </div>
</div>

<!-- Code for the charts-->
<script>
  var barChartOptions = {
    series: [
      {
        data: {{api_calls_values}},
      },
    ],
    chart: {
      type: "bar",
      height: 350,
      toolbar: {
        show: false,
      },
    },
    //   colors: ["#246dec", "#cc3c43", "#367952", "#f5b74f", "#4f35a1"],
    plotOptions: {
      bar: {
        distributed: true,
        borderRadius: 4,
        horizontal: true,
        columnWidth: "40%",
      },
    },
    tooltip: {
      enabled: false,
    },
    dataLabels: {
      enabled: false,
    },
    legend: {
      show: false,
    },

    xaxis: {
      categories: [
        "Statistics",
        "Visualization",
        "Encryption",
        "Training",
        "Inference",
      ],
      axisTicks: {
        show: false,
      },
      labels: {
        show: false,
        style: {
          fontSize: "14px",
          fontFamily: "Source Sans Pro",
          color: "#696969",
        },
      },
    },

    dataLabels: {
      style: {
        fontSize: "14px",
        fontWeight: "Thin",
        fontFamily: "Source Sans Pro",
        color: "#696969",
      },
    },

    yaxis: {
      labels: {
        style: {
          fontSize: "14px",
          fontFamily: "Source Sans Pro",
          color: "#696969",
        },
      },
    },
    grid: {
      show: false,
    },
  };

  var chart = new ApexCharts(
    document.querySelector("#bar-chart"),
    barChartOptions
  );
  chart.render();
</script>

<!--Simple Javascript-->
<script>
  document.getElementById("li-home").classList.add("sidebar-select");
</script>
{% endblock dashboard_content %}
