<!DOCTYPE html>

<html lang="en">
  <!-- Head section -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Dynamic title update-->
    {% if title%}
    <title>{{title}}</title>
    {% else %}
    <title>Dashboard</title>
    {% endif %}

    <!-- Source Sans Pro Regular 400-->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />

    <!-- Let's add some icons Material Icon from google -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />

    <!-- Using custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='styles.css')}}"
    />
  </head>

  <!-- Body section -->
  <body>
    <!-- Overall container for the css grid -->
    <div class="grid-container" id="grid-container">
      <!-- Header -->
      <header class="header">
        <!-- Menu Icon -->
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>

        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>

        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span
            class="material-icons-outlined"
            onclick="window.location.href='{{url_for('account')}}';"
            >account_circle</span
          >
          <span
            class="login-name"
            onclick="window.location.href='{{url_for('account')}}';"
            >{{current_user.firstname}} {{current_user.lastname}}</span
          >
          <span
            class="material-icons-outlined"
            onclick="window.location.href='{{url_for('logout')}}';"
            id="logout-icon"
            >logout</span
          >
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar for navigation links -->
      <aside id="sidebar">
        <!-- Sidebar title, brand image, exit icon-->
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="sidebar-logo-image"
              ><img
                id="logo-image"
                src="{{url_for('static', filename= 'images/logo-sm.svg')}}"
                alt="logo"
                height="40"
            /></span>
            Enkrypt AI
          </div>

          <span class="material-icons-outlined" onclick="closeSidebar()"
            >close</span
          >
        </div>

        <!-- Sidebar list of menu items-->
        <ul class="sidebar-list">
          <li
            class="sidebar-list-item"
            id="li-home"
            onclick="window.location.href='{{url_for('dashboard')}}';"
          >
            <span class="material-icons-outlined">dashboard</span>Home
          </li>

          <li
            class="sidebar-list-item"
            id="li-dataset"
            onclick="window.location.href='{{url_for('dataset')}}';"
          >
            <span class="material-icons-outlined">folder_open</span>Dataset
          </li>

          <li
            class="sidebar-list-item"
            id="li-viz"
            onclick="window.location.href='{{url_for('visualization')}}';"
          >
            <span class="material-icons-outlined">auto_graph</span>Visualization
          </li>

          <li
            class="sidebar-list-item"
            id="li-terminal"
            onclick="window.location.href='{{url_for('terminal')}}';"
          >
            <span class="material-icons-outlined">terminal</span>Terminal
          </li>

          <li
            class="sidebar-list-item"
            id="li-keys"
            onclick="window.location.href='{{url_for('keyaccess')}}';"
          >
            <span class="material-icons-outlined">key</span>Keys
          </li>

          <li
            class="sidebar-list-item"
            id="li-account"
            onclick="window.location.href='{{url_for('account')}}';"
          >
            <span class="material-icons-outlined">manage_accounts</span>Account
          </li>

          <li class="sidebar-list-item">
            <span class="material-icons-outlined">settings</span>Settings
          </li>

          <li class="sidebar-list-item">
            <span class="material-icons-outlined">help_outline</span>Help
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        {% block dashboard_content %}{% endblock %}
      </main>
      <!-- End Main -->
    </div>

    <!-- Scripts -->

    <!-- ApexCharts -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.36.3/apexcharts.min.js"
      integrity="sha512-sa449wQ9TM6SvZV7TK7Zx/SjVR6bc7lR8tRz1Ar4/R6X2jOLaFln/9C+6Ak2OkAKZ/xBAKJ94dQMeYa0JT1RLg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    
    <!-- Custom Javascript -->
    <script src="./static/js/scripts.js"></script>
  </body>
</html>
